$category: #ECF5FE;

#landingpage{
    .lpCategory{
        position: relative;
        overflow: hidden;

        &--image-right{
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
        }

        &--image-left{
            position: absolute;
            left: 0;
            top: 0;
        }

        &__wrapper{
            margin: 24px auto 0;
            width: 100%;
        }
    
        &__tile{
            height: auto;
            background-color: $category;
            box-shadow: 0 1px 1px rgba($color: $black, $alpha: .1);
            border-radius: 4px;
            box-sizing: border-box;
            transition: .3s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: calc(20% - 20px);
            margin: 10px;
    
            &:hover{
                background-color: darken($color: $category, $amount: 6%);
    
                .lp-tiles__tile-content--name{
                    color: $black;
                }
            }

            &:active{
                background-color: darken($color: $category, $amount: 12%);
            }
        }
    
        &__tile-content{
            text-align: left;
            display: flex;
            justify-content: flex-start;
            align-items: center;
    
            figure{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px 0 0;
            }
    
            &--image{
                max-width: 100%;
                max-height: 100%;
            }
    
            .par{
                font-weight: 500;
                display: inline-block;
                color: $dark;
                transition: .3s ease-in-out;
            }
        }
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpCategory{
            &--image-left{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpCategory{
            &__tile{
                width: calc(33.333% - 20px);
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpCategory{
            &__tile{
                width: calc(50% - 10px);
                margin: 5px;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpCategory{
            &__tile{
                width: 100%;
                margin: 5px;
            }
        }
    }
}