// footer
#articlePage #landingpage{
    .lpFooter{
        background: url('https://cdn.alza.cz/Foto/or/lp/valentyn-2022/build/img/footer.png') center no-repeat;
        background-size: cover;
    }
}

// alza
#articlePage #landingpage #newSocialContainer{
    padding: 0;
}