// footer
#articlePage #landingpage{
    .lpFooter{
        background: rgb(0,195,255);
        background: radial-gradient(circle, rgba(0,195,255,1) 0%, rgba(0,148,231,1) 100%);
    }
}

// alza
#articlePage #landingpage #newSocialContainer{
    padding: 0;
}