#landingpage{
    .lpHeader{
        background: $primary;
        position: relative;
        padding: 48px 0;
        overflow: hidden;

        &__contentWrapper{
            @include flex;
        }

        &__textWrapper{
            width: 50%;
            text-align: left;

            .notMoveH1{
                color: $white;
            }

            .hdl3{
                font-weight: 400;
                color: $white;
                margin-top: 16px;
            }
        }

        &__imageWrapper{
            width: 50%;
        }
    }
}

// media
@media only screen and (max-width: 650px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            &__textWrapper{
                width: 100%;
                text-align: center;
            }

            &__imageWrapper{
                width: 100%;
                margin-top: 24px;

                &--image{
                    max-width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpHeader{
            padding: 24px 0;
        }
    }
}