#landingpage{
    .lpMainNav{
        position: relative;
        z-index: 10;

        &__wrapper{
            @include flex;
            justify-content: center;
            align-items: stretch;
            align-content: flex-start;
            width: 100%;
            position: relative;
            margin-top: -60px;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: #E0E0E0;
                z-index: 10;
            }
        }

        &__tab{
            background-color: #F8F8F8;
            border-radius: 4px 4px 0 0;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            padding: 15px 30px;
            transition: .07s ease-in-out;
            margin: 0 5px 0 0;
            border: 1px solid #E0E0E0;
            position: relative;
            z-index: 11;
            min-height: 60px;

            &::before{
                content: '';
                position: absolute;
                left: -1px;
                top: -1px;
                width: 100%;
                height: 3px;
                background-color: $primary;
                border-radius: 4px 4px 0 0;
                border: 1px solid $primary;
                display: none;
            }

            &:last-of-type{
                margin-right: 0;
            }

            &:hover{
                background-color: $white;
                border-bottom: 1px solid $white;

                &::before{
                    display: block;
                }
                
                .perex{
                    color: $primary;
                }
            }
        }

        .tabActive{
            background-color: $white;
            border-bottom: 1px solid $white;

            &::before{
                display: block;
            }
                
            .perex{
                color: $primary;
            }
        }
    }
}

// media
@media only screen and (max-width: 550px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpMainNav{
            &__wrapper{
                margin-top: 24px;

                &:after{
                    display: none;
                }
            }

            &__tab{
                width: auto;
                margin: 3px;
                min-height: 32px;
                border: 1px solid #E8E8E8;
                border-radius: 100px;
                padding: 8px 20px;
                background-color: $white;

                &:before{
                    display: none;
                }
            }

            .tabActive:before{
                display: none;
            }

            &__tab:hover,
            .tabActive{
                border: 1px solid $primary;
                background-color: $primary;

                .perex{
                    color: $white;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpMainNav__wrapper{
            width: calc(100% - 26px);
            margin: 24px auto 0;
        }

        .lpMainNav__tab{
            width: calc(50% - 6px);
        }
    }
}