#landingpage{
    .lpMainNav{
        position: relative;
        z-index: 10;

        &__wrapper{
            @include flex;
            justify-content: center;
            align-items: stretch;
            align-content: flex-start;
            width: 100%;
            position: relative;
            margin: -42px auto 0;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 1px;
                width: 100%;
                background-color: #E0E0E0;
                z-index: 10;
                display: none;
            }
        }

        &__tab{
            background-color: #F8F8F8;
            border-radius: 4px 4px 0 0;
            cursor: pointer;
            text-align: center;
            box-sizing: border-box;
            padding: 8px 10px;
            transition: .07s ease-in-out;
            margin: 0 5px 0 0;
            border: 1px solid #E0E0E0;
            position: relative;
            z-index: 11;
            min-height: 42px;

            &:last-of-type{
                margin-right: 0;
            }

            &:hover{
                background-color: $white;
                border-bottom: 1px solid $white;
                
                .par{
                    color: $primary;
                }
            }
        }

        .tabActive{
            background-color: $white;
            border-bottom: 1px solid $white;

            &::before{
                display: block;
            }
                
            .par{
                color: $primary;
            }
        }
    }
}

// media
@media only screen and (max-width: 980px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .lpMainNav{
            width: 100%;
            overflow-x: auto;
            position: relative;

            &__wrapper{
                margin-top: 24px;
                white-space: nowrap;
                width: 980px;
                justify-content: flex-start;
                position: relative;
                z-index: 3;
                padding: 0 20px 0 0;

                &:after{
                    display: none;
                }
            }

            &__tab{
                width: auto;
                margin: 3px;
                min-height: 32px;
                border: 1px solid #E8E8E8;
                border-radius: 100px;
                padding: 8px 20px;
                background-color: $white;
                flex: 1;

                &:before{
                    display: none;
                }
            }

            .tabActive:before{
                display: none;
            }

            &__tab:hover,
            .tabActive{
                border: 1px solid $primary;
                background-color: $primary;

                .par{
                    color: $white;
                }
            }
        }
    }
}