#landingpage{
    .splitText{
        &__wrapper{
            @include flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
        }

        &__textWrapper{
            width: calc(50% - 10px);
            order: 1;
        }

        &__imageWrapper{
            width: calc(50% - 10px);
            order: 2;

            &--image{
                margin: 0 auto;
            }
        }
    }
}

// media
@media only screen and (max-width: 750px){
    .mobile #landingpage,
    .mobileapp #landingpage{
        .splitText{
            &__textWrapper{
                width: 100%;
                order: 2;
                margin-top: 32px;
            }
    
            &__imageWrapper{
                width: 100%;
                order: 1;
            }
        }
    }
}